<!--
patrymlun hafan ar gyfer app rheolau
-->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Rheolau'r Gynghanedd
{% endblock %}


{% block billboard %}
	<h2><i>Sic transit gloria mundi.</i></h2>
{% endblock %}

{% block login %}
    {% if uname %}
        <!--p>Hello <strong>{{ uname }}</strong>.</p-->
    {% endif %}
{% endblock %}

{% block content-main %}
	<h1>Rheolau'r Gynghanedd</h1>
	{% if rhestr_cynganeddion %}
	    <table cellpadding="5">
	    {% for c in rhestr_cynganeddion %}
	        <tr>
	            <td><a href="{% url 'rheolau:detail' c.enw %}">{{ c.enw }}</a></td>
	        </tr>
	    {% endfor %}
	    </table>
	{% else %}
	    <p>Dim cynganeddion i'w cael.</p>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<h2>Cymorth</h2>
	<p>Cliciwch y cyswllt priodol.</p>
{% endblock %}

{% block content-secondary %}
	<h2>Yn Weddill</h2>
	<ul>
		<li>Llawer o waith i wneud.</li>
	</ul>
{% endblock %}




