<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}

<head>
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'base.js' %}"></script>
{% endblock %}

<title>{% block title %} BASE.HTML {% endblock %}</title>

</head>

<body id="basepage">
<div id="container">
    
    <div id="header">
    {% block logo %}
        <h1 id="logo"><a href="/"><img src="{% static 'ebrydydd_logo.png' %}", alt="yr eBrydydd"/></a></h1>
    {% endblock %}
    {% block banner %}
        <h1 id="banner"><a href="/">yr ebrydydd (beta)</a></h1>
    {% endblock %}
    {% block nav-global %}
        <ul id="nav-global">
            <li id="nav-hafan"><a href="/">Hafan</a></li>
            <li id="nav-cronfa"><a href="/cronfa/">Cronfa</a></li>
            <li id="nav-cwis"><a href="/cwis/">Cwis</a></li>
            <li id="nav-admin"><a href="/admin/">Aelodau</a></li>
        </ul>
    {% endblock %}
    </div>
    
    <div id="billboard">
	{% block billboard %}
		&nbsp; {% if hap %} {{ hap.llinyn }} {% endif %} &nbsp;
	{% endblock %}
    </div>

	<div id="breadcrumbs">
		{% block breadcrumbs %}
			&nbsp;
		{% endblock %}
   </div>

    
    <div id="columnwrap">
        
        <div id="content-main">
			<div style="min-height:425px;">
        	{% block content-main %}

        	{% endblock %}
			</div>
		
        	<div id="browse-horizontal">
        		{% block browse-horizontal %}
				&nbsp;
        		{% endblock %} 
        	</div>
        
        	<div id="content-secondary">
        		{% block content-secondary %}
				{% endblock %}
				
        	</div>
    	</div>

    	<div id="content-related", class="sidebar">
        	{% block sidebar %}
			{% endblock %}
        </div>
    </div>
    
    <div id="footer">
    {% block footer %}
        &copy; <a href="http://www.caerdydd.ac.uk">Prifysgol Caerdydd</a> 2014.
    {% endblock %}
    </div>
</div>

</body>
</html>

