<!--
patrymlun: dadansoddiad
-->
{% extends "hafan.html" %}
{% load staticfiles %}

{% block title %}
	Dadansoddiadau
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} > Dadansoddiad <!--a href="{% url 'ebrydydd.views.dadansoddiad' %}">Dadansoddiad</a-->
{% endblock %}

{% block content-main %}

{% if llinyn %}
	{% if dad %}
		<h2><u>Dadansoddiad</u></h2>
		<h1 align="center"> {{ llinyn }}</h1>
		<br/ >	
		{% include "bloc_dadansoddiad.html" %}
	{% endif %}
{% endif %}

<br/ >
<br/ >

{% if dads %}
	{% include "rhestr_dadansoddiadau.html" %}
{% endif %}

<br>
<a href="{% url "hafan" %}">&larr; Cynnig arall?</a>

{% if neges %}
	<p>{{ neges }}</p>
{% endif %}

{% endblock %}



