<!--
    index.html for root site
-->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Yr ebrydydd
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} <a href="{% url 'ebrydydd.views.hafan' %}">Hafan</a>
{% endblock %}

{% block content-main %}
<h1>Meddalwedd Cynganeddol</h1>
<br/>
<form action="{% url 'dadansoddiad' %}" method="POST"> {% csrf_token %}
<h3>Teipiwch linell yn y bocs ...</h3>
	<p>	{{ llinell_form.llinyn }} </p>
<h3>... neu dewiswch linell o'r gronfa:</h3> 
	<p>	{{ llinell_form.llinell_ddewis }} </p>
	<br/>
 	<p> <input id="dadansoddiad_llinell" type="submit" value="Dadansoddwch" /> </p>
</form>
{% endblock %}

{% block sidebar %}
<br/>
<h3>Gwefannau</h3>
<ul>
    <li><a href="http://www.barddas.com">Barddas</a></li>
    <li><a href="http://www.cynghanedd.com/">yr Annedd</a></li>
</ul>
<br/>
<h3>Llyfryddiaeth</h3>

<ul class="llyfr">
    <li class="awdur">Alan Llwyd</li>
    <li class="teitl">Anghenion y Gynghanedd</li>
    <li class="cyhoeddwr">Cyhoeddiadau Barddas</li>
    <li class="blwyddyn">2007</li>
</ul>

<ul class="llyfr">
    <li class="awdur">John Morris-Jones</li>
    <li class="teitl">Cerdd Dafod</li>
    <li class="cyhoeddwr">Gwasg Clarendon, Rhydychen</li>
    <li class="blwyddyn">1925</li>
</ul>

{% endblock %}

{% block content-secondary %}

<h3>Cysylltiadau</h3>
<ul>
    <li>ebost:  deuo@ebrydydd.org</li>
</ul>
<h3>Cyfrannwyr</h3>
<ul>
    <li>Elen Thomas, Pontarddulais.</li>
    <li>Dafydd Evans, Caerdydd.</li>
</ul>
{% endblock %}






