{% extends "rhestr_llinellau.html" %}

{% block title %} 
	{{ object.llinyn }}
{% endblock %}

{% block content-main %}

<!--h1>Llinellau</h1-->
<br>
<h1 align="center">{{ object.llinyn }}</h1>
	{% comment %}
		{% if object.awdur %} &nbsp;&nbsp;&nbsp;&nbsp;<small>[ {{ object.awdur }} ]</small> {% endif %}
	{% endcomment %}

<br>

{% if dads %}
	{% include "rhestr_dadansoddiadau.html" %}
{% endif %}


<br/>
<h2>Dadansoddiad y Peiriant</h2>
{% include "bloc_dadansoddiad.html" %}

<br/>
<br/>
<br/>
<!--p style="position: absolute; bottom: 0; right: 0;"><a href="{% url "rhestr-llinellau" %}">Nol i'r rhestr llinellau</a></p-->

<a href="{% url "rhestr-llinellau" %}">&larr; Nôl i'r rhestr llinellau</a>

{% endblock %}

{% block browse-horizontal %}
<p class="left">{% if prev %}<a href="{{ prev.get_absolute_url }}">&larr; {{ prev.llinyn }}</a>{% endif %}</p>
<p class="right">{% if next %}<a href="{{ next.get_absolute_url }}">{{ next.llinyn }} &rarr;</a>{% endif %}</p>
{% endblock %}
